.col100{
    width: 100%;
    float: left;
}

.col90{
    width: 90%;
    float: left;
}

.col80{
    width: 80%;
    float: left;
}

.col75{
    width: 75%;
    float: left;
}

.col70{
    width: 70%;
    float: left;
}

.col50{
    width: 50%;
    float: left;
}

.col33{
    width: 33.333%;
    float: left;
}

.col30{
    width: 30%;
    float: left;
}

.col25{
    width: 25%;
    float: left;
}

.col20{
    width: 20%;
    float: left;
}

.col10{
    width: 10%;
    float: left;
}

.width50{
    width: 50%;
}

.layer10{
    z-index: 10;
}

.layer20{
    z-index: 20;
}

.layer30{
    z-index: 30;
}