/* GENERICO */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none!important;
}

a{
    color:black!important;
}

*:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

button, .button{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border:none;
    border-radius: 50px;
    padding: 7px 14px;
    cursor: pointer;
    background-color: #ff756b;
    transition: background-color 0.5s ease-out;  
}

button:hover, .button:hover{
    background-color:#ca291e;
}

.buttonStyle2{
    background-color: #d3d3d3;
}

.buttonStyle2:hover{
    background-color: #ff756b;
}

input{
    height: 40px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: 1.5px solid #959595;
    font-size: 16px;
}


form{
    margin-block-end: 0;
}


/* CABECERA */
#topBar{
    z-index: 1000;
    float: left;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;

    -webkit-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.1);
}

#logoBar img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 40px;
    height: 45%;
}

/* BARRA BUSQUEDA CABECERA */
#searchBar{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 50%;
    width: 30%;
    margin: auto 35%;
}

#searchBar input{
    border-radius: 50px;
    width: 100%;
    border: none;
    height: 100%;
    background-color: #eeeeee;
    padding-left: 15px;
    font-weight: bold;
}

#searchBar input::placeholder{
    font-weight: normal!important;
}

#searchBar button{
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
}

#searchBar button::hover{
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
}

#searchBar img{
    height: 100%;
}


/* TITULO */
.titleHeader{
    margin: 40px 0px 40px 0px;
    width: fit-content;
    width: -moz-fit-content;
}

.titleHeader h1{
    margin: 0;
}

.subTitleHeader{
    float: left;
    background-color: black;
    height: 3.5px;
    width: 30px;
    margin-left: 2px;
}

/* CONTENIDO */
.content{
    float: left;
    width: 100%;
    margin-top: 70px;
}

.margin{
    width: 80%;
    margin: 0 auto;
}

/* TABLA */

td, th{
    padding: 8px 15px;
}

.th-color{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:none;
}
.th-left{
    border-top-left-radius: 4px;
}

.th-rigth{
    border-top-right-radius: 4px;
}

/* OTROS */

.buttonAdd button{
    width: 100%;
    padding: 0;
    padding-top: 100%; /*Mantener la relacion de acpecto 1:1*/
    position: relative;
    background-image: url("../img/add.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size:30%;

    /*Sombreado*/
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.19);

}

.buttonAdd:hover button{
    
    /*Arrancar animacion*/
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.buttonAdd{
    position: fixed;
    width: 4.5%;
    bottom: 30px;
    right: 30px;
}

/* FORMULARIO GENERAL*/

.groupField{
    position: relative;
}

.labForm{
    position: absolute;
    margin-top: 10px;
    z-index: 100;
    font-size: 16px;
    pointer-events: none;
    font-weight: normal;
    color: #959595;
    transition: all 0.5s ease;
}

.inpForm:focus ~ label{
    margin-top: -9px;
    font-size: 12px;
    font-weight: bold;
    color: #ff756b;
    transition: all ease 0.5s;
}

.inpForm:not(:placeholder-shown) ~ label{
    margin-top: -9px;
    font-size: 12px;
    font-weight: bold;
}

.inpForm:focus{
    transition: all ease 0.5s;
    border-bottom: 2.5px solid #ff756b;
}

.textarea{
    height: 100px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: 1.5px solid #959595;
    font-size: 16px;
    padding-top: 12px;
    resize: vertical;
}

.checkbox{
    float:left;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 0px solid gray;
    background-color: gainsboro;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox:checked{
    background-color:#ff756b;
}

.checkbox:checked:after{
    content: "";
    position: absolute;
    margin: 5px 0px 7px 5px;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
}

.labCheckBox{
    float: left;
    margin-top:5px;
    color:#959595;
}

.rowCheckbox{
    margin: 0 32.5%;
    width: 35%;
    margin-bottom: 30px;
}

.bSubmit{
    margin: 0 32.5%;
    width: 35%;
    margin-top: 30px;
}

.bSubmit:hover{
 /*Arrancar animacion*/
 -webkit-animation-name: pulse;
 animation-name: pulse;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

/*FORMULARIO USUARIO*/

#formUser .inpForm{
    width: 35%;
    margin-bottom: 25px;
}

#formUser .labForm{
    margin-left: -35%;
}


/*FORMULARIO PELICULA*/

#formMovie .inpForm{
    width: 80%;
    margin-bottom: 25px;
}

#formMovie .labForm{
    margin-left: -80%;
}

#posterFormImg{
    width: 100%;
    border-radius: 15px;
}


/*************************************************************************/
/*                            PELICULAS                                  */
/*************************************************************************/
.marginTopMovies{
    height: 50px;
}

.posterMovie img{
    border-radius: 15px;
}

.contentMovie h1{
    font-size: 25px;
    padding-left: 15px;
    margin-top:10px!important;
}

.marginContentMovie{
    padding: 30px;
}


/* BOTONES FLOTANTES CARTELES */

.sizefbMovie{
    width: 16%;
    float: right;
    margin-left: 10px;
}

.floatButtonsMovie button{
    padding: 0;
    width: 100%;
    padding-top: 100%; /*Mantener la relacion de acpecto 1:1*/
    position: relative; /* If you want text inside of it */
    transform: translateY(50%) translateX(50%);

    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.07);
}

.floatButtonsMovie img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    height: 50%;
    margin: auto;
}

.bEditMovie{
    background: url("../img/edit3.png") 50% 50% no-repeat;
    border-radius: 100%;
    background-size:40%;
    background-color: #ff756b;
}

.bEditMovie:hover{
    background-color: #ca291e;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    transition: all ease 1s;
}

.bDeleteMovie{
    background: url("../img/delete.png") 50% 50% no-repeat;
    border-radius: 50%;
    background-size:40%;
    background-color: #575757;
}

.bDeleteMovie:hover{
    background-color: #000000;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    transition: all ease 1s;
}

/* VISTA INDIVIDUAL PELICULA */
.posterShow img{
    width: 100%;
    border-radius: 15px;
}

.contentShow{
    width:80%;
    text-align: left;
}

.subtitleShow{
    font-weight: bold;
    color: #ff756b;
    margin-bottom: 10px;
}

.infoTextShow{
    margin-bottom: 15px;
}

.buttonActionShow{
    margin-top: 15px;
}

.buttonActionShow button{
    margin-bottom: 5px;
}


/* ANIMACIONES */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.02, 1.02, 1.02);
        transform: scale3d(1.02, 1.02, 1.02);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.02, 1.02, 1.02);
        transform: scale3d(1.02, 1.02, 1.02);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}